body {
    margin: 0;
    background: #1B244A;
}

.container,.score,.score-buttons {
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
#home,#guest{
    width: 150px;
    height: 35px;
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 20px;
    color: white
}
#home-score,#guest-score{
     width: 130px;
    height: 120px;
    top: 125px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    padding: 20px;
    margin: auto;
    border: 5px;
    border-radius: 5px;
    background-color: black;
    background-size: cover;
}
.score-buttons{
margin: 30px 0px;
}
button{
    font-family: 'Cursed Timer ULiL';
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px ridge #9AABD8;
    margin: 6px;
    border-radius: 5px;
    width: 45px;
    height: 40px;
    left: 90px;
    top: 280px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #9AABD8;
}
#new-game{
    width: 100px;
    display: block;
    margin: auto;
    background-color:cadetblue;
    color: white;
    font-family: 'Play', sans-serif;
    
}